extends header.pug

block content
    div(class="ui" style="text-align:center;")
        h1(class="bottomheader2" style="font-family: 'Noto Sans KR', sans-serif;") 게시판

    table(class="ui striped table tablesize")
        thead
            tr
                th 번호
                th 제목
                th 이름
                th 작성일
        tbody
            for row in rows
                tr
                    td= row.id
                    td
                        - var url = `comment/${row.id}`
                        a(href=url)= row.title
                    td= row.name
                    td= row.created

    button(class="ui primary button buttonloc")
        a(href="comment/create_comment" style="color:white; font-size: 1.3rem;") 추가