extends header.pug

block content
    div(class="ui" style="text-align:center;")
        h1(class="bottomheader2" style="font-family: 'Noto Sans KR', sans-serif;")= row.title

    div(class="paragraph")
        p= row.content

    - const url1 = `${row.id}/update`
    - const url2 = `${row.id}/delete_process`

    form(action=url2 method="post" class="but")
        input(type="hidden" name="id" value=row.id)
        input(type="submit" class="ui button deletebut" value="delete" style="color: black;")

    button(type="button" class="ui primary button but updatebut")
        a(href=url1 style="color: white;") update

