extends header.pug

block content
    div(class="ui" style="text-align:center;")
        h1(class="bottomheader2" style="font-family: 'Noto Sans KR', sans-serif;")= row.title

    div(class="paragraph")
        p= row.content

    - const url1 = `${row.cid}/update`
    - const url2 = `${row.cid}/delete_process`

    if (answer)
        form(action=url2 method="post" class="but")
            input(type="hidden" name="id" value=row.cid)
            input(type="submit" class="ui button deletebut" value="delete" style="color: black;")
        button(type="button" class="ui primary button but updatebut")
            a(href=url1 style="color: white;") update

